.closed {
  background: #fff;
  position: relative; }
  .closed:before {
    content: " ";
    width: 100%;
    height: 180px;
    max-width: 719px;
    background: url(../../img/rectangle-bg.png) no-repeat;
    position: absolute;
    top: -67px;
    z-index: 2; }
  .closed-nav {
    padding-top: 40px; }
    .closed-nav h2 {
      display: inline-block;
      font-family: OpenSansLight;
      font-size: 25px;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.96;
      letter-spacing: normal;
      text-align: left;
      color: #272727;
      margin: 0; }
    .closed-nav a {
      margin-left: 15px;
      font-family: OpenSansLight;
      font-size: 25px;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.96;
      letter-spacing: normal;
      text-align: left;
      color: #656565;
      text-decoration: none; }
      .closed-nav a.selected {
        font-weight: 600;
        color: #33282c;
        padding: 15px 41px 11px;
        border-radius: 3px;
        background-color: #f2ca5b; }
  .closed-bar {
    z-index: 2;
    height: 68px;
    margin-top: 60px;
    border-bottom: 5px solid #f7f7f7; }
    .closed-bar h2 {
      font-family: OpenSansBold;
      font-size: 40px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.6;
      letter-spacing: normal;
      text-align: left;
      color: #272727;
      display: inline-block; }
    .closed-bar a {
      font-family: OpenSansLight;
      margin-left: 20px;
      font-size: 19px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #30b5d8;
      border-bottom: 1px dashed #30b5d8;
      text-decoration: none;
      position: relative;
      top: -7px; }
    .closed-bar select {
      width: 350px;
      height: 50px;
      padding-left: 22px;
      background-color: #ebebeb;
      font-family: OpenSansLight;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.96;
      letter-spacing: normal;
      text-align: left;
      color: #30b5d8;
      border: none;
      float: right; }
      .closed-bar select:after {
        clear: both; }
  .closed-item {
    margin-top: 50px;
    background: #f2f2ef;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative; }
    .closed-item h2 {
      font-family: OpenSansBold;
      font-size: 30px;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.8;
      letter-spacing: normal;
      text-align: left;
      color: #010101;
      margin: 0; }
    .closed-item-info span {
      font-family: OpenSansBold;
      color: #bebebe;
      font-size: 20px; }
    .closed-item-info a {
      font-family: OpenSansRegular;
      font-size: 20px;
      color: #29abcd;
      text-decoration: none; }
      .closed-item-info a:hover {
        color: #104b5a; }
    .closed-item-info__p {
      margin: 7px 0; }
    .closed-item-avatar {
      flex: 1 1 230px; }
      .closed-item-avatar img {
        width: 100%; }
    .closed-item-content {
      padding: 15px 20px;
      width: calc(100% - 270px); }
      .closed-item-content__tags {
        margin: 15px;
        font-family: OpenSansLight;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #050099; }
    .closed-item__p {
      font-family: OpenSansLight;
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #000000; }
  .closed-avatar-img {
    position: relative; }
  .closed-avatar__status {
    width: 100%;
    height: 17px;
    position: absolute;
    bottom: 0px; }
    .closed-avatar__status.gold {
      background: #f2ca5b; }
    .closed-avatar__status.silver {
      background: #bebebe; }
    .closed-avatar__status.bronze {
      background: #cd7f32; }
  .closed-slider {
    width: 100%; }
    .closed-slider__item {
      width: 116px; }
      .closed-slider__item span {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        opacity: 0.8;
        font-family: OpenSansBold;
        font-size: 20px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #ffffff; }
        .closed-slider__item span.gold {
          background: #f2ca5b; }
        .closed-slider__item span.silver {
          background: #bebebe; }
        .closed-slider__item span.bronze {
          background: #cd7f32; }
  .closed-stats {
    font-family: OpenSansRegular;
    color: #8c8c8b;
    font-size: 14px; }
    .closed-stats svg {
      fill: #8c8c8b; }
  .closed-rating {
    display: block;
    margin: 0;
    width: 260px;
    padding: 28px 0px;
    text-align: center;
    background: #bebebe;
    color: #fff;
    font-family: OpenSansExtraBold;
    font-size: 30px;
    position: absolute;
    top: -10px;
    right: 20px; }
  .closed-more {
    margin: 46px auto;
    text-align: center; }
    .closed-more__link {
      border-radius: 50px;
      text-decoration: none;
      padding: 18px 86px;
      border: solid 3px #30b5d8;
      font-family: OpenSansLight;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #272727;
      transition: all 0.3s ease-in-out; }
      .closed-more__link:hover {
        color: #fff;
        background: #30b5d8;
        transition: all 0.3s ease-in-out; }

@media only screen and (max-width: 768px) {
  .closed-nav {
    padding-top: 130px; }
    .closed-nav h2, .closed-nav a {
      display: block;
      margin-bottom: 30px;
      text-align: center; }
  .closed-bar {
    margin-top: 0;
    height: auto; }
    .closed-bar h2, .closed-bar a {
      display: inherit;
      margin-bottom: 30px;
      text-align: center; }
  .closed select {
    float: none;
    width: 70%;
    margin: auto;
    display: block;
    margin-bottom: 10px; }
  .closed-item {
    flex-direction: column; }
    .closed-item-content {
      width: 90%; }
  .closed-slider {
    margin-top: 20px; }
  .closed-more__link {
    padding: 18px 50px; } }
