.footer
{
	position: relative;
	background: #ebebeb;
	&-about
	{
		padding: 0 40px;
		position: relative;
		border-top: 10px solid #f7d54a;
		background: url(../../img/aboutbg.jpg) no-repeat;
		background-position: 10px top;
		h2
		{
			font-family: OpenSansSemiBold;
			font-size: 17px;
			color: #fff;
			margin-top: 40px;
			margin-bottom: 30px;
		}
		p
		{
			font-family: OpenSansLight;
			font-size: 15px;
			line-height: 1.6;
			color: #a7a7a7;
			max-width: 480px;
		}
	}
	&-icons
	{
		margin-top: -3px;
		ul
		{
			list-style: none;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			li
			{
				margin-left: 5px;
				margin-right: 5px;
				
				a
				{
					display: block;
					width: 42px;
					height: 38px;
					text-align: center;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					border-radius: 3px;
					transition: all 0.3s ease;
					&:hover
					{
						background: #313e43;
						transition: all 0.3s ease;
					}
					img
					{
						margin: auto;
						display: table-cell;
						align-items: center;
					}
				}
			}
		}
		&__twitter
		{
			background: #00acee;
		}
		&__facebook
		{
			background: #3b5998;
		}
		&__earth
		{
			background: #ea4c89;
		}
		&__gplus
		{
			background: #db4a39;
		}
		&__leaf
		{
			background: #598728;
		}
	}
	&-exit
	{
		position: absolute;
		top: -10px;
		left: 0;
		&__icon
		{
			width: 60px;
			height: 60px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			background: #f7d54a;
			transition: all 0.3s ease;
			&:hover
			{
				background: #313e43;
				transition: all 0.3s ease;
			}
			img
			{
				margin: auto;
				align-items: center;
				justify-content: center;
				align-content: center;
			}
		}
	}
	&-write
	{
		width: 241px;
		margin: auto;
		&__link
		{
			margin: 0 auto;
			display: block;
			font-family: OpenSansSemiBold;
			font-size: 20px;
			padding: 17px 49px;
			text-decoration: none;
			background: #48a4be;
			transition: all 0.3s ease;
			color: #fff;
			&:hover
			{
				background: #313e43;
				transition: all 0.3s ease;
			}
		}
	}
	&-right
	{
		
	}
	&-age
	{
		font-family: OpenSansLight;
		font-size: 31px;
		padding: 18px 32px;
		display: block;
		border: 5px solid #d4d4d4;
		margin-top: 40px;
	}
	&-copyright
	{
		margin-top: 145px;
		color: #000000;
		h3
		{
			font-family: OpenSansSemiBold;
			font-size: 15px;
		}
		p
		{
			font-family: OpenSansLight;
			font-size: 15px;
			line-height: 1.6;
		}
	}
	&-counters
	{
		&__link
		{
			margin: 10px;
		}
	}
	&-bg
	{
		position: absolute;
		bottom: 0;
		height: 506px;
		background-image: url(../../img/footerbg.png);
		background-position: bottom center;
		background-size: cover;
		width: 100%;
	}
}