$gold: #f2ca5b;
$silver: #bebebe;
$bronze: #cd7f32;

.open
{
	background: #29abcd; 
	position: relative;
	background: rgba(48,127,148,1);
    background: -moz-linear-gradient(left, rgba(48,127,148,1) 0%, rgba(41,171,205,1) 55px, rgba(41,171,205,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,127,148,1)), color-stop(55px, rgba(41,171,205,1)), color-stop(100%, rgba(41,171,205,1)));
    background: -webkit-linear-gradient(left, rgba(48,127,148,1) 0%, rgba(41,171,205,1) 55px, rgba(41,171,205,1) 100%);
    background: -o-linear-gradient(left, rgba(48,127,148,1) 0%, rgba(41,171,205,1) 55px, rgba(41,171,205,1) 100%);
    background: -ms-linear-gradient(left, rgba(48,127,148,1) 0%, rgba(41,171,205,1) 55px, rgba(41,171,205,1) 100%);
    background: linear-gradient(to right, rgba(48,127,148,1) 0%, rgba(41,171,205,1) 55px, rgba(41,171,205,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#307f94', endColorstr='#29abcd', GradientType=1 );
	padding-bottom: 10px;
	&:before {
    content: '';
  
    position: absolute;
    left: 0;
    top: 0;
    
    border-top: 30px solid #fff;
    border-right: 70px solid transparent;

	}
	&:after {
    content: '';
  
	position: absolute;
	bottom:-29px;
		left: 0;
    background: rgba(48,127,148,1);
    background: -moz-linear-gradient(left, rgba(48,127,148,1) 0%, rgba(41,171,205,1) 55px, rgba(41,171,205,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,127,148,1)), color-stop(55px, rgba(41,171,205,1)), color-stop(100%, rgba(41,171,205,1)));
    background: -webkit-linear-gradient(left, rgba(48,127,148,1) 0%, rgba(41,171,205,1) 55px, rgba(41,171,205,1) 100%);
    background: -o-linear-gradient(left, rgba(48,127,148,1) 0%, rgba(41,171,205,1) 55px, rgba(41,171,205,1) 100%);
    background: -ms-linear-gradient(left, rgba(48,127,148,1) 0%, rgba(41,171,205,1) 55px, rgba(41,171,205,1) 100%);
    background: linear-gradient(to right, rgba(48,127,148,1) 0%, rgba(41,171,205,1) 55px, rgba(41,171,205,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#307f94', endColorstr='#29abcd', GradientType=1 );
	clip-path: polygon(70px 0, 0 0, 0px 30px );
	height: 30px;
	width: 70px;
	}
	&-bar
	{
		z-index: 2;
		height: 68px;
		margin-top: 60px; 
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		h2
		{
			font-family: OpenSansExtraBold;
  			font-size: 40px;
  			font-weight: 800;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 0.6;
  			letter-spacing: normal;
  			text-align: left;
  			color: #fff;
			display: inline-block;
			text-transform: uppercase;
		}
		a
		{
			margin-left: 20px;
			font-family: OpenSansLight;
  			font-size: 18px;
  			font-weight: 300;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 1.2;
  			letter-spacing: normal;
  			text-align: left;
  			color: #fff;
			border-bottom: 1px dashed #fff;
			text-decoration: none;
			position: relative;
    		top: -7px;
		}
		select
		{
			width: 350px;
 			height: 50px;
			padding-left: 22px;
			background-color: #ebebeb;
			font-family: OpenSansLight;
  			font-size: 18px;
  			font-weight: 300;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 0.96;
  			letter-spacing: normal;
  			text-align: left;
  			color: #30b5d8;
			border: none;
			float: right;
			&:after
			{
				clear: both;
			}
		}
	}
	&-item
	{
		margin-top: 50px; 
		background: #f2f2ef;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		position: relative;
		h2
		{
			font-family: OpenSansBold;
  			font-size: 30px;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 0.8;
  			letter-spacing: normal;
  			text-align: left;
  			color: #010101;
			margin: 0;
		}
		&-info
		{
			span
			{
				font-family: OpenSansBold;
				color: #bebebe;
				font-size: 20px;
			}
			a
			{
				font-family: OpenSansRegular;
				font-size: 20px;
				color: #29abcd;
				text-decoration: none;
				&:hover
				{
					color: #104b5a;	
				}
			}
			&__p
			{
				margin: 7px 0;
				.gold
				{
					font-family: OpenSansLight;
					color: $gold;
				}
				.silver
				{
					font-family: OpenSansLight;
					color: $silver;
				}
				.bronze
				{
					font-family: OpenSansLight;
					color: $bronze;
				}
			}
			&__medal
			{
				margin-bottom: -7px;
			}
			
			
		}
		
		&-avatar
		{
			
			flex: 1 1 230px;
			img
			{
				width: 100%;
			}
		}
		&-content
		{
			padding: 15px 20px;
			width: calc(100% - 270px);
			&__tags
			{
				margin: 15px;
				font-family: OpenSansLight;
  				font-size: 14px;
  				font-weight: 300;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.71;
  				letter-spacing: normal;
  				text-align: left;
  				color: #050099;			
			}
			
			
			
		}
		&__p
		{
			font-family: OpenSansLight;
  			font-size: 16px;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 1.5;
  			letter-spacing: normal;
  			text-align: left;
  			color: #000000;
			
		}
	}
	&-progressbar
	{
		background: #90bfcf;
		height: 69px;
		width: 100%;
		padding: 0;
		margin: 5px auto;
		position: relative;
		&__progress
		{
			background: url(../../img/progressbg.jpg);
			width: 40%;
			height: 100%;
		}
		&__span
		{
			position: absolute;
			width: 100%;
			text-align: center;
			top: 5px;
			margin:  auto;
			span.bold
			{
				font-family: OpenSansExtraBold;
				font-size: 30px;
				color: #fff;
			}
			span.regular
			{
				font-family: OpenSansRegular;
				font-size: 20px;
				color: #fff;
				text-transform: uppercase;
			}
		}
	}
	&-steambutton
	{
		margin-top: 22px;
		margin-bottom: 20px;
		a
		{
			background: #fce42a;
			padding: 15px;
			text-decoration: none;
			&:hover
			{
				background: #e8d11e;
			}
		}
		&__logo
		{
			width: 40px;
			margin-bottom: -5px;
		}
		&__span
		{
			font-family: OpenSansRegular;
			font-size: 16px;
			color: #000;
		}
	}
	&-avatar
	{
		&-img
		{
			position: relative;
		}
		&__status
		{
			width: 100%;
			height: 17px;
			position: absolute;
			bottom:0px;
			&.gold
			{
				background: $gold;
			}
			&.silver
			{
				background: $silver;
			}
			&.bronze
			{
				background: $bronze;
			}
		}
	}
	&-stats
	{
		font-family: OpenSansRegular;
		color: #8c8c8b; 
		font-size: 14px;
		svg
		{
			fill: #8c8c8b;
		}
	}
	&-rating
	{
		display: block;
		margin: 0;
		width: 260px;
		padding: 28px 0px;
		text-align: center;
		background: $gold;
		color: #fff;
		font-family: OpenSansExtraBold;
		font-size: 30px;
		position: absolute;
		top: -10px;
		right: 20px;
	}
	&-more
	{
		margin: 46px auto;
		text-align: center;
		&__link
		{
			
			border-radius: 50px;
			text-decoration: none;
			padding: 18px 86px;
			border: solid 3px #30b5d8;
			font-family: OpenSansLight;
  			font-size: 24px;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 1;
  			letter-spacing: normal;
  			color: #272727;
			transition: all 0.3s ease-in-out;
			&:hover
			{
				color: #fff;
				background: #30b5d8;
				transition: all 0.3s ease-in-out;
			}
		}
	}
} 