.open {
  background: #29abcd;
  position: relative;
  background: #307f94;
  background: -moz-linear-gradient(left, #307f94 0%, #29abcd 55px, #29abcd 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #307f94), color-stop(55px, #29abcd), color-stop(100%, #29abcd));
  background: -webkit-linear-gradient(left, #307f94 0%, #29abcd 55px, #29abcd 100%);
  background: -o-linear-gradient(left, #307f94 0%, #29abcd 55px, #29abcd 100%);
  background: -ms-linear-gradient(left, #307f94 0%, #29abcd 55px, #29abcd 100%);
  background: linear-gradient(to right, #307f94 0%, #29abcd 55px, #29abcd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#307f94', endColorstr='#29abcd', GradientType=1 );
  padding-bottom: 10px; }
  .open:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-top: 30px solid #fff;
    border-right: 70px solid transparent; }
  .open:after {
    content: '';
    position: absolute;
    bottom: -29px;
    left: 0;
    background: #307f94;
    background: -moz-linear-gradient(left, #307f94 0%, #29abcd 55px, #29abcd 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #307f94), color-stop(55px, #29abcd), color-stop(100%, #29abcd));
    background: -webkit-linear-gradient(left, #307f94 0%, #29abcd 55px, #29abcd 100%);
    background: -o-linear-gradient(left, #307f94 0%, #29abcd 55px, #29abcd 100%);
    background: -ms-linear-gradient(left, #307f94 0%, #29abcd 55px, #29abcd 100%);
    background: linear-gradient(to right, #307f94 0%, #29abcd 55px, #29abcd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#307f94', endColorstr='#29abcd', GradientType=1 );
    clip-path: polygon(70px 0, 0 0, 0px 30px);
    height: 30px;
    width: 70px; }
  .open-bar {
    z-index: 2;
    height: 68px;
    margin-top: 60px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .open-bar h2 {
      font-family: OpenSansExtraBold;
      font-size: 40px;
      font-weight: 800;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.6;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      display: inline-block;
      text-transform: uppercase; }
    .open-bar a {
      margin-left: 20px;
      font-family: OpenSansLight;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      border-bottom: 1px dashed #fff;
      text-decoration: none;
      position: relative;
      top: -7px; }
    .open-bar select {
      width: 350px;
      height: 50px;
      padding-left: 22px;
      background-color: #ebebeb;
      font-family: OpenSansLight;
      font-size: 18px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.96;
      letter-spacing: normal;
      text-align: left;
      color: #30b5d8;
      border: none;
      float: right; }
      .open-bar select:after {
        clear: both; }
  .open-item {
    margin-top: 50px;
    background: #f2f2ef;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative; }
    .open-item h2 {
      font-family: OpenSansBold;
      font-size: 30px;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.8;
      letter-spacing: normal;
      text-align: left;
      color: #010101;
      margin: 0; }
    .open-item-info span {
      font-family: OpenSansBold;
      color: #bebebe;
      font-size: 20px; }
    .open-item-info a {
      font-family: OpenSansRegular;
      font-size: 20px;
      color: #29abcd;
      text-decoration: none; }
      .open-item-info a:hover {
        color: #104b5a; }
    .open-item-info__p {
      margin: 7px 0; }
      .open-item-info__p .gold {
        font-family: OpenSansLight;
        color: #f2ca5b; }
      .open-item-info__p .silver {
        font-family: OpenSansLight;
        color: #bebebe; }
      .open-item-info__p .bronze {
        font-family: OpenSansLight;
        color: #cd7f32; }
    .open-item-info__medal {
      margin-bottom: -7px; }
    .open-item-avatar {
      flex: 1 1 230px; }
      .open-item-avatar img {
        width: 100%; }
    .open-item-content {
      padding: 15px 20px;
      width: calc(100% - 270px); }
      .open-item-content__tags {
        margin: 15px;
        font-family: OpenSansLight;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: #050099; }
    .open-item__p {
      font-family: OpenSansLight;
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #000000; }
  .open-progressbar {
    background: #90bfcf;
    height: 69px;
    width: 100%;
    padding: 0;
    margin: 5px auto;
    position: relative; }
    .open-progressbar__progress {
      background: url(../../img/progressbg.jpg);
      width: 40%;
      height: 100%; }
    .open-progressbar__span {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 5px;
      margin: auto; }
      .open-progressbar__span span.bold {
        font-family: OpenSansExtraBold;
        font-size: 30px;
        color: #fff; }
      .open-progressbar__span span.regular {
        font-family: OpenSansRegular;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase; }
  .open-steambutton {
    margin-top: 22px;
    margin-bottom: 20px; }
    .open-steambutton a {
      background: #fce42a;
      padding: 15px;
      text-decoration: none; }
      .open-steambutton a:hover {
        background: #e8d11e; }
    .open-steambutton__logo {
      width: 40px;
      margin-bottom: -5px; }
    .open-steambutton__span {
      font-family: OpenSansRegular;
      font-size: 16px;
      color: #000; }
  .open-avatar-img {
    position: relative; }
  .open-avatar__status {
    width: 100%;
    height: 17px;
    position: absolute;
    bottom: 0px; }
    .open-avatar__status.gold {
      background: #f2ca5b; }
    .open-avatar__status.silver {
      background: #bebebe; }
    .open-avatar__status.bronze {
      background: #cd7f32; }
  .open-stats {
    font-family: OpenSansRegular;
    color: #8c8c8b;
    font-size: 14px; }
    .open-stats svg {
      fill: #8c8c8b; }
  .open-rating {
    display: block;
    margin: 0;
    width: 260px;
    padding: 28px 0px;
    text-align: center;
    background: #f2ca5b;
    color: #fff;
    font-family: OpenSansExtraBold;
    font-size: 30px;
    position: absolute;
    top: -10px;
    right: 20px; }
  .open-more {
    margin: 46px auto;
    text-align: center; }
    .open-more__link {
      border-radius: 50px;
      text-decoration: none;
      padding: 18px 86px;
      border: solid 3px #30b5d8;
      font-family: OpenSansLight;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #272727;
      transition: all 0.3s ease-in-out; }
      .open-more__link:hover {
        color: #fff;
        background: #30b5d8;
        transition: all 0.3s ease-in-out; }

@media only screen and (max-width: 768px) {
  .open-nav {
    padding-top: 130px; }
    .open-nav h2, .open-nav a {
      display: block;
      margin-bottom: 30px;
      text-align: center; }
  .open-bar {
    margin-top: 0;
    height: auto; }
    .open-bar h2, .open-bar a {
      display: inherit;
      margin-bottom: 30px;
      text-align: center; }
  .open select {
    float: none;
    width: 70%;
    margin: auto;
    display: block;
    margin-bottom: 10px; }
  .open-item {
    flex-direction: column; }
    .open-item-content {
      width: 90%; }
  .open-more__link {
    padding: 18px 50px; } }
