$gold: #f2ca5b;
$silver: #bebebe;
$bronze: #cd7f32;

.closed
{
	background:#fff;
	height: 200px;
	position: relative;
	&:before
	{
		    content: " ";
    		width: 100%;
    		height: 180px;
    		max-width: 719px;
    		background: url(../../img/rectangle-bg.png) no-repeat;
    		position: absolute;
    		top: -67px;
    		z-index: 2;
	}
	&-nav
	{
		padding-top: 40px;
		
		h2
		{
			display: inline-block;
			font-family: OpenSansLight;
  			font-size: 25px;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 0.96;
  			letter-spacing: normal;
  			text-align: left;
  			color: #272727;
			margin: 0;
			
		}
		a
		{
			margin-left: 15px;
			
			font-family: OpenSansLight;
  			font-size: 25px;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 0.96;
  			letter-spacing: normal;
  			text-align: left;
  			color: #656565;
			text-decoration: none;
			&.selected
			{
				font-weight: 600;
				color: #33282c;
				padding: 15px 41px 11px;
				border-radius: 3px;
  				background-color: #f2ca5b;
			}
		}
	}
	&-bar
	{
		z-index: 2;
		height: 68px;
		margin-top: 60px; 
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		
		border-bottom: 5px solid #f7f7f7;;
		h2
		{
			font-family: OpenSansBold;
  			font-size: 40px;
  			font-weight: 800;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 0.6;
  			letter-spacing: normal;
  			text-align: left;
  			color: #272727;
			display: inline-block;
		}
		a
		{
			font-family: OpenSansLight;
  			font-size: 20px;
  			font-weight: 300;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 1.2;
  			letter-spacing: normal;
  			text-align: left;
  			color: #30b5d8;
			border-bottom: 1px dashed #30b5d8;
			text-decoration: none;
			margin-top: -10px;
		}
		select
		{
			width: 350px;
 			height: 50px;
			padding-left: 22px;
			background-color: #ebebeb;
			font-family: OpenSansLight;
  			font-size: 18px;
  			font-weight: 300;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 0.96;
  			letter-spacing: normal;
  			text-align: left;
  			color: #30b5d8;
			border: none;
			float: right;
			&:after
			{
				clear: both;
			}
		}
	}
	&-item
	{
		margin-top: 50px; 
		background: #f2f2ef;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		position: relative;
		h2
		{
			font-family: OpenSansBold;
  			font-size: 30px;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 0.8;
  			letter-spacing: normal;
  			text-align: left;
  			color: #010101;
			margin: 0;
		}
		&-avatar
		{
			
			flex: 1 1 230px;
		}
		&-content
		{
			padding: 20px;
			width: calc(100% - 270px);
			&__tags
			{
				margin: 15px;
				font-family: OpenSansLight;
  				font-size: 14px;
  				font-weight: 300;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.71;
  				letter-spacing: normal;
  				text-align: left;
  				color: #050099;			
			}
		}
		&__p
		{
			font-family: OpenSansLight;
  			font-size: 16px;
  			font-style: normal;
  			font-stretch: normal;
  			line-height: 1.5;
  			letter-spacing: normal;
  			text-align: left;
  			color: #000000;

		}
	}
	&-avatar
	{
		&-img
		{
			position: relative;
		}
		&__status
		{
			width: 100%;
			height: 17px;
			position: absolute;
			bottom:0px;
			&.gold
			{
				background: $gold;
			}
			&.silver
			{
				background: $silver;
			}
			&.bronze
			{
				background: $bronze;
			}
		}
	}
	&-slider
	{
		width: 100%;
		&__item
		{
			width: 116px;
			span
			{
				display: block;
				width: 100%;
				background: $gold;
				position: absolute;
				bottom: 0;
				text-align: center;
				opacity: 0.8;
				font-family: OpenSansBold;
  				font-size: 20px;  				
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.2;
  				letter-spacing: normal;
  				color: #ffffff;
			}
		}
	}
} 