
.slider
{
	&-item
	{
		width: 100%;
		min-height: 560px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		align-items: center;
		
		&-1
		{
			background: url(../../img/slider_bg_1.jpg) no-repeat; 
			background-size: cover;
		}
		&-2
		{
			background: url(../../img/slider_bg_2.jpg) no-repeat; 
			background-size: cover;
		}
		&-3
		{
			background: url(../../img/slider_bg_3.jpg) no-repeat; 
			background-size: cover;
		}
		&-4
		{
			background: url(../../img/slider_bg_4.jpg) no-repeat; 
			background-size: cover;
		}
		
	}
	&-content
		{
			max-width: 962px;
			width: 65%;
			padding: 27px 34px;
			background-color: #29abcd;
			margin: 181px auto 71px;
			position: relative;
			h2
			{
				font-family: OpenSansBold;
  				font-size: 30px;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.33;
  				letter-spacing: normal;
  				text-align: left;
  				color: #000000;
				margin: 0;
			}
			p
			{
				font-family: OpenSansLight;
  				font-size: 18px;
  				font-weight: 300;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.44;
  				letter-spacing: normal;
  				text-align: left;
  				color: #ffffff;
				margin-top:24px;
				margin-bottom: 0;
			}
		}
	&-thumbs
	{
		
		margin: 0px;
		position: absolute;
		margin-top: -127px;
		width: initial;
		right: -160px;
		
		ul
		{
			padding: 0;
			margin: 0;
			display: flex;
			list-style: none;
			align-content: flex-end;
			li
			{
				display: inline-block;
				list-style: none;
				background: #000;
				img:hover
				{
					opacity: 0.7;
					transition: all .3s ease;
				}
				&.active
				{
					background: #29abcd;
					& img
					{
						opacity: 0.7;
					}
				}
			}
		}
		img
		{
			width: 50px;
		}
	}
	&-horizon-list
	{
		&:before
		{
			content: "";
				display: inline-block;
			width: 160px;
			height: 100px;

			background: url(../../img/thumb_bg_1.png);
		}
	}
	&-vertical-list
	{
		width: 160px;
		justify-content: flex-end;
		flex-direction: column;
		float: right;
		&:after
		{

			content: "";
				display: block;
			width: 160px;
			height: 100px;
			background: url(../../img/thumb_bg_2.png);
			
		}
	}
}
@media only screen and (max-width: 768px)
{
	.slider
	{
		&-thumbs
		{
			display: none;
		}
	}
}